<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta name="renderer" content="webkit" >
	<title>领主</title>
	<link rel="stylesheet" href="css/base.css">
	<link href="http://cdn.bootcss.com/uikit/2.27.1/css/uikit.min.css" rel="stylesheet">
	<link href="http://cdn.bootcss.com/uikit/2.27.1/css/components/notify.css" rel="stylesheet">
</head>
<body>
<div id="game" class="uk-grid" data-uk-margin>
	<div id="introduces" class="uk-modal">
		<div class="uk-modal-dialog">
			<a class="uk-modal-close uk-close"></a>
			<span id="introduces"></span>
		</div>
	</div>

	<div class="uk-width-1-1">
		<div class="uk-panel-box uk-container-center uk-panel-box-secondary">
			<h1 class="uk-text-center" title="Lords">领主</h1>
			<button class="uk-button" onclick="save.updateSave()">存档更新</button>
		</div>
	</div>

	<div class="uk-width-1-2">
		<div class="uk-panel uk-panel-box uk-panel-box-primary">
			<div class="uk-panel-title">领地信息</div>
			<ul class="uk-list uk-list-line">
				<li>领地：<span id="nickname"></span></li>
				<li>古罗马币：<span id="money"></span>（每秒收集<span id="moneyProduce"></span>枚）</li>
				<li>居民：<span id="peopleHave"></span>（<span id="peopleIdle"></span>人处于空闲）</li>
			</ul>
		</div>

		<div class="uk-panel uk-panel-box uk-panel-box-primary">
			<div class="uk-panel-title">领地外围</div>
			<span title="侦查后得到的结果">危险度</span>：
			<span class="uk-text-muted" v-if="menace=='null'">未知</span>
			<span class="uk-text-success" v-if="menace=='safe'">安全</span>
			<span class="uk-text-warning" v-if="menace=='unstable'">不安</span>
			<span class="uk-text-warning" v-if="menace=='complaint'">敌视</span>
			<span class="uk-text-danger" v-if="menace=='enmity'">恨意</span>
			<span class="uk-text-danger" v-if="menace=='hatred'">血仇</span>
			<button class="uk-button uk-button-danger uk-float-right uk-margin-small-left" onclick="surroundingSweep()">扫荡</button>
			<button class="uk-button uk-button-primary uk-float-right" onclick="bandit.surroundingProbe()">侦查</button>
		</div>
		
		<div class="uk-panel uk-panel-box uk-panel-box-primary">
			<div class="uk-panel-title">消息框</div>
			<div class="bor" v-for="list in commentList">
				<div class="comment"><span id="comment"></span></div>
			</div>
		</div>
	</div>

	<div class="uk-width-1-2">
		<div class="uk-panel uk-panel-box uk-panel-box-primary">
			<div class="uk-panel-title">建筑列表</div>
			<table class="uk-table uk-table-striped">
				<thead>
					<tr>
						<th>建筑</th>
						<th>成本</th>
						<th>数量</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<tr v-for="list in buildsList">
						<td><button class="uk-button" data-uk-modal="{target:'#introduces'}" onclick="introduce(list.introduce)"><span id="name"></span></button></td>
						<td>￥<span id="money"></span> / 居民*<span id="worker"></span></td>
						<td><span id="nums"></span></td>
						<td><button class="uk-button" onclick="plusBuilds(list.id)">建造</button><button class="uk-button" onclick="reduceBuilds(list.id)">拆迁</button></td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="uk-panel uk-panel-box uk-panel-box-primary">
			<div class="uk-panel-title">军队列表</div>
			<table class="uk-table uk-table-striped">
				<thead>
					<tr>
						<th>军种</th>
						<th>成本</th>
						<th>伤害</th>
						<th>护甲</th>
						<th>数量</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<tr v-for="list in armysList">
						<td><button class="uk-button" data-uk-modal="{target:'#introduces'}" onclick="introduce(list.introduce)"><span id="name"></span></button></td>
						<td>￥<span id="money"></span> / 居民*<span id="worker"></span></td>
						<td><span id="harm"></span></td>
						<td><span id="armor"></span></td>
						<td><span id="nums"></span></td>
						<td><button class="uk-button" onclick="plusArmys(list.id)">训练</button><button class="uk-button" onclick="reduceArmys(list.id)">遣散</button></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

	<script src="http://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
	<script src="http://cdn.bootcss.com/uikit/2.27.1/js/uikit.min.js"></script>
	<script src="http://cdn.bootcss.com/uikit/2.27.1/js/components/notify.js"></script>
	<script src="js/game.js"></script>
</body>
</html>